:root {
  /* ── Brand Colors ───────────────────── */
  --pink:       #FF2B85;
  --pink-hover: #D9226F;
  --pink-light:          #FFDDDC;
   --pink-mid:           #FFBDBC;

  /* ── Neutrals ───────────────────────── */
  --white:               #FFFFFF;
  --black:               #000000;
  ---gray:               #6C7071;

}